<!DOCTYPE html>

<html>
<head runat="server">
	<title>@ViewData["Title"] - BrightStart Admin</title>
	<link type="text/css" rel="stylesheet" href="~/lib/bootstrap/bootstrap.css" />
	<style>
		.margin {
			margin-left: 1%;
			margin-right: 1%;
			margin-top: 1%;
		}
	</style>
</head>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/bootstrap/bootstrap.js"></script>

<body style="background-color: #2f3439; padding-top: 56px">
	<div>
		<!-- NAV START -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" style="margin-left: 1%; color: white">
				<img src="~/img/brightstart.png" width="30" height="28" class="d-inline-block align-top" alt="" />
				BrightStart Admin
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			@if (ViewData["Title"] != "Login" && ViewData["Title"] != "Logout")
			{
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					@if (ViewData["Title"] == "Candidaturas")
					{
						<li class="nav-item active">
							<a class="nav-link" href="/Index">📝 Candidaturas</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link" href="/Index">📝 Candidaturas</a>
						</li>
					}

					@if (ViewData["Title"]=="Dúvidas")
					{
						<li class="nav-item active">
							<a class="nav-link" href="/Duvidas">❓ Dúvidas</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link" href="/Duvidas">❓ Dúvidas</a>
						</li>
					}

					@if (ViewData["Title"]=="Sugestões")
					{
						<li class="nav-item active">
							<a class="nav-link" href="/Sugestoes">🔹 Sugestões</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link" href="/Sugestoes">🔹 Sugestões</a>
						</li>
					}

					@if (ViewData["Title"]=="Definições")
					{
						<li class="nav-item active">
							<a class="nav-link" href="/Definicoes">⚙️ Definições</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link" href="/Definicoes">⚙️ Definições</a>
						</li>
					}
				</ul>
			</div>
			<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/Logout">🚪 Logout</a>
					</li>
				</ul>
			</div>
			}
		</nav>
		<!-- NAV END -->
		<div style="margin-left: 10%; margin-right: 10%; background-color: #fff; padding-bottom: 1%">
			@RenderBody()
		</div>
	</div>
</body>
</html>
